In [1]:
name = "Arthur"

#Do Now4
Wednesday, June 10, 2015

**Reviewing: dictionaries, lists, CSVs**


#Question 1
What's the output of the following lines?

name = "Max"
print "hello", "name"
print "hello", name

In [2]:
name = "Max"

In [3]:
print "hello", "name"

hello name

In [4]:
print "hello", name

hello Max

#Question 2
What is the output of the following code? Which lines give you errors?

borough_name = 'Manhattan'
z = [ 'Manhattan', 'Queens' ]
x = { 'borough_name': 'Manhattan', 'population': 500 }
y = {
'Manhattan': 500,
'Queens': 200
}

print x['borough_name']
print x[borough_name]
print x[0]
print y['borough_name']
print y[borough_name]
print y[0]
print z['borough_name']
print z[borough_name]
print z[0]

In [55]:
z = [ 'Manhattan', 'Queens' ]

In [56]:
x = { 'borough_name': 'Manhattan', 'population': 500 }

In [57]:
y = { 'Manhattan': 500, 'Queens': 200 }

In [58]:
print x['borough_name']

Manhattan

In [67]:
print z[0]

Manhattan

print x[borough_name] gives error

print x[0] gives error

print y['borough_name'] error, not in y

y[borough_name] error

print y[0] errror

print z['borough_name'] error

print z[borough_name] error

#Question 3
We have a list called numbers, but we had an off-by-one error: add one to every element of the list, then sum the results. Do this in one line.

In [25]:
liste3=[1,2,3,4,5,6,7,8,9]

In [26]:
liste3 [-1]

9

In [27]:
print liste3

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
sum(liste3)

45

In [29]:
sum([x+1 for x in liste3])

54

In [30]:
new_list = [x+1 for x in liste3]

In [31]:
print new_list

[2, 3, 4, 5, 6, 7, 8, 9, 10]

#Question 4 a
Given the following, write code to calculate how many murders we have in total.

murders = { 'Albany': 23, 'Kings County': 10, 'Rochester': 7, 'Yonkers: 9 }
first I want to have the number of the murders in Albany

In [16]:
murders = {'Albany': 23, 'Kings': 10, 'Rochester': 7, 'Yonkers':9}
murders['Albany']

23

In [11]:
total = 0
for county in murders.keys():
    total = total + murders[county]
print total

49

#Question 4b
Write code to calculate the percentage of the murders happened in Kings County.

In [20]:
float(murders['Kings'])/total*100

20.408163265306122

I don't like the result. I want it it 46.94

In [23]:
x = float(murders['Kings'])/total*100

In [24]:
print "%.2f" %x

20.41

It works also like this

In [22]:
print "%.2f" %(float(murders['Kings'])/total*100), "parcent of the murders happend in Kings Couny"

20.41 parcent of the murders happend in Kings Couny