#Do Now, 
Class 6
Monday 15,

Comma separated values, but it is not always the

2) What's the output of the following lines?

company = { 'address': '34 45th St', 'name': 'Company LLC', 'owner': 'Jessica Goodman' }
for key in company.keys():
	print key, company[key]

In [1]:
company = { 'address': '34 45th St', 'name': 'Company LLC', 'owner': 'Jessica Goodman' }

In [2]:
for key in company.keys(): print key, company[key]

owner Jessica Goodman
name Company LLC
address 34 45th St

3) Write a list comprehension to get the name of each of these companies.

In [3]:
companies = [ { 'name': 'Rogers Moving', 'address': '44 34nd St' }, { 'name': 'Box Supplies Inc', 'address': '45 34th Ave' }, { 'name': 'n/a', 'address': 'unknown'} ]

In [9]:
[company ['name'] for company in companies]

['Rogers Moving', 'Box Supplies Inc', 'n/a']

4) Given the variables rating and target, print "Failed" if we didn't meet the target, "Success" if we met or exceeded the target, and "Excellent work" if we did more than double the target. If the target is zero, though, also print "Easy".

In [13]:
raiting = 5
target = 5

if raiting < target:
    print "faild"
elif raiting > target *2:
    print "Excellent work"
else:
    "sucsess"
if target == 0:
    print "easy"

5a) Given the following, write code to calculate how many murders we have in total.

murders = { 'Albany': 23, 'Kings County': 10, 'Rochester': 7, 'Yonkers: 9 }

5b) Calculate the number of murders that did not happen in Kings County.

5c) I need an alphabetized list of counties that we have murder data for.

In [15]:
murders = { 'Albany': 23, 'Kings County': 10, 'Rochester': 7, 'Yonkers': 9 }

In [ ]:
for whatever in murder:
    print whatever

In [16]:
murders.values ()

[9, 23, 7, 10]

In [17]:
sum(murders.values ())

49

In [19]:
counties = murders.keys()

In [23]:
counties.sort()
counties

['Albany', 'Kings County', 'Rochester', 'Yonkers']